body {
    font-family: Arial, sans-serif;
    text-align: center; 
    background-color: #debff4;
}

.weather-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #8b48d7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.weather-icon {
    width: 100px;
    height: 100px;
}